<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ripe Tomatoes</title>
    <link rel="stylesheet" href="css/login.css" />
    <link rel="icon" href="/image&Video/Tomato_icon.png" />
    <link rel="stylesheet" href="css/home.css" />
  </head>
  <body>
    <div class="Nav">
      <a id="refreshButton" class="active" href="#"><strong>Ripe Tomatoes</strong></a>
      <button id="myButton" class="button">Login/Signup</button>
      <div class="Search-Container">
        <form role="search" id="form">
          <input type="search" id="query" placeholder="Search Movies..." />
        </form>
      </div>
    </div>
    <div style="padding-left: 16px">
      <section id="section"></section>
    </div>
    <footer>
      <h1>Anjali Singh &copy; 2024 </h4>
      <ul>
        <a href="#"><img src="css/youtube-symbol 1.svg" /></a>

        <a href="#"><img src="css/twitter 1.svg" /></a>
        <a href="#"><img src="css/instagram 1.svg" /></a>
      </ul>
    </footer>

    <script src="css/script.js"></script>
  </body>
</html>