<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/signup.css" />
    <title>Document</title>
  </head>
  <body>
    <div id="container">
      <section class="form-section">
        <h2 class="word">Sign up</h2>
        <form id="main" action="/signup" method="post">
          <li id="form">
            <input type="text" name="name" placeholder="Name" id="name" />
            <input
              type="password"
              name="password"
              placeholder="Password"
              id="pass"
            />
            <input class="button" type="submit" />
          </li>
        </form>
        <a class="king" href="/">Go back to login page</a>
      </section>
    </div>
  </body>
</html>