body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
   
    background:linear-gradient(to right top, #f07df0,#8310e0);
}
div{
    width: 600px;
    height: 600px;
    border: 5px solid white;
    overflow: hidden;
}
img{
    width: 100%;
    height: 100%;
    transition: transform 1s ;

}
img:hover{
    transform: scale(1.2 )rotate(9deg);
}